---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Manas Ganti</h1>
		<p class="mb-4">
			I'm an aspiring research engineer who ships. I spent two years putting computer-vision models
			into production; on Jetson boards, and in clinical imaging pipelines. Currently a grad student
			in Computer Engineering at Virginia Tech.
		</p>
		<p class="mb-4">
			Most of what I care about sits between these sections: Classic segmentation problems involving
			Unets, Visual Language models and their intersection with modern Reinforcement Learning and
			the applications of Reinforcement Learning.
		</p>
		<SocialList />
	</section>
</PageLayout>
